<div class="finder js-finder">
  <h2 class="finder-header heading-b">Find the right tires by vehicle</h2>
  <div class="finder-main">
    <div class="tab-widget js-tab-widget">
      <ul class="finder-breadcrumb tab-nav">
        <li class="active">
          <a class="heading-e" href="#finder-car-widget">
            <button type="button" class="paginator-btn">1</button> Your vehicle
          </a>
        </li>
        <li class="disabled">
          <a class="heading-e" href="#finder-car-tire">
            <button type="button" class="paginator-btn">2</button> Your tires
          </a>
        </li>
      </ul>
      <div class="finder-body tab-content js-finder-body">
        <div class="tab-content-pane active finder-car-widget js-finder-car-widget" id="finder-car-widget"></div>
        <div class="tab-content-pane finder-car-tire js-finder-car-tire" id="finder-car-tire"></div>
      </div>
    </div>
  </div>
  <div class="spinner-backdrop hide-content js-spinner-backdrop"><div class="spinner"></div></div>
</div>
