<div class="finder js-finder">
  <h2 class="finder-header heading-b">Find the right tires by vehicle</h2>
  <div class="finder-breadcrumb">
    <ul class="tab-nav">
      <li class="active">
        <a class="heading-e" href="#finder-car-1">
          <button type="button" class="paginator-btn">1</button> Your vehicle
        </a>
      </li>
      <li>
        <a class="heading-e" href="#finder-car-2">
          <button type="button" class="paginator-btn">2</button> Your tires
        </a>
      </li>
    </ul>
  </div>
  <div class="finder-body media tab-content js-finder-body"></div>
  <div class="finder-footer"></div>
</div>
