{{#extend "stylesheets"}}
  <link rel="stylesheet" href="/css/gen/index.css"/>
{{/extend}}

<h4>{{title}}</h4>

<div class="finder-modal js-finder-modal">
  <div class="modal-backdrop active js-modal-backdrop"></div>
  <div class="modal fixed active js-modal-car js-modal">
    <button class="modal-close js-modal-close" type="button">
      <i class="wmicon wmicon-remove"></i>
      <span class="visuallyhidden">Close</span>
    </button>
    <div class="module">
      {{> find-by-car}}
    </div>
  </div>
</div>

{{#extend "scripts"}}
  <script>
    require(["js/main"]);
  </script>
{{/extend}}
