/* ==========================================================================
   Finder Car
   ========================================================================== */

$finder-width = 750px;
$finder-height = 578px;
$finder-body-height = 364px;
$finder-tab-nav-height = 44px;
$finder-tab-content-height = $finder-body-height - $finder-tab-nav-height;
$finder-body-main-width = 509px;
$finder-body-sidebar-width = $finder-width - $finder-body-main-width;

// Sidebar
.finder-body-sidebar {
  margin-right: 0;
  width: $finder-body-sidebar-width;

  li {
    position: relative;

    &:first-child .btn{
      border-top: none;
    }
  }

  .disabled .btn {
    color: $blue;

    + .wmicon-angle-right {
      color: $white;
    }
  }

  .btn {
    display: block;
    padding: 0 20px;
    height: 91px;
    border-color: $grey-cool;
    border-width: 1px 1px 0 0 ;
    border-radius: 0;

    color: $black;
    font-size: 18px;
    font-weight: 600;
    line-height: @height;
    text-align: left;
  }

  .wmicon-angle-right {
    position: absolute;
    right: 20px;
    top: 40px;

    color: $blue;
  }

  .active {
    .btn {
      background-color: $blue-tertiary;
      border-radius: 0;
      color: $black;
    }

    .wmicon-angle-right {
      color: $black;
    }
  }
}

// Body
.finder-body-main {
  width: $finder-body-main-width;

  .tab-nav {
    background-color: $white;

    li {
      margin-left: 46px;

      &:first-child {
        margin-left: 80px;
      }
    }

    a {
      height: $finder-tab-nav-height;
      width: 52px;
      padding: 14px 0;

      color: $blue;
      font-size: 16px;
      font-weight: 600;
    }

    .active {
      a {
        color: $black;

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;

          height: 5px;

          background-color: $blue;
        }
      }
    }
  }

  .tab-content {
    border-top: 1px solid $grey-cool;

    .tab-content-pane {
      padding: 20px 11px;
      height: $finder-tab-content-height;

      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  .variants {
    margin: 10px 0 20px;

    &.variants-4 .variant {
      width: 117px;
    }

    &.variants-5 .variant {
      width: 93px;
    }

    .variants-group {
      position: relative;
    }

    .variants-group:not(:first-child) {
      top: -1px;
    }

    .variant {
      position: relative;

      margin: 0;
      height: 38px;

      border-radius: 0;

      & ~ .variant {
        margin-left: -1px;
      }

      &:hover {
        z-index: 1;
      }
    }
  }

  .finder-car-content {
    display: none;

    &.active {
      display: block;
    }
  }

  .finder-car-model, .finder-car-submodel {
    padding: 20px 11px;
    height: $finder-body-height;

    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .variants-group {
      clearfix();
    }

    .variant {
      float: left;
      padding: 15px 10px;
      min-height: 72px;

      line-height: 1;
    }

    .variant-centered {
      display: table;

      span {
        display: table-cell;

        vertical-align: middle;
      }
    }
  }
}

.finder-content {
  height: $finder-body-height;
}

// Car Wizard specific
.finder-car-widget {
  .finder-car-make {
    .tab-nav li {
      margin-left: 30px;

      &:first-child {
        margin-left: 23px;
      }
    }
  }
}

// Car Tire specific
.finder-car-tire {
  .tire-query {
    padding: 16px 20px;
    height: 50px;
    border-bottom: 1px solid $grey-cool;

    background: $white;

    .tire-query-prefix {
      color: $grey-medium;
      font-style: italic;
    }
  }

  .tire-select {
    padding: 20px;
  }
}
