/* ==========================================================================
   Tab Widget
   ========================================================================== */

.tab-nav {
  clearfix();

  margin: 0;
  padding: 0;

  list-style: none;

  > li {
    float: left;

    &.disabled a {
      cursor: default;
      opacity: .7;
    }

    > a {
      position: relative;

      display: block;
      padding: 10px;

      outline: none;
      text-align: center;
    }
  }

  &.tab-nav-vertical {
    > li {
      float: none;
    }
  }
}

.tab-content {
  > .tab-content-pane {
    display: none;

    &.active {
      display: block;
    }
  }
}
