* {
  box-sizing: border-box;
}
.tab-nav {
  *zoom: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}
.tab-nav:before,
.tab-nav:after {
  content: "";
  display: table;
}
.tab-nav:after {
  clear: both;
}
.tab-nav > li {
  float: left;
}
.tab-nav > li > a {
  position: relative;
  display: block;
  padding: 10px;
  outline: none;
  text-align: center;
}
.tab-content > .tab-content-pane {
  display: none;
}
.tab-content > .tab-content-pane.active {
  display: block;
}
.finder-modal .modal {
  width: 758px;
  height: 586px;
}
.finder-modal .finder {
  width: 750px;
  height: 578px;
  background-color: #f2f8fd;
  border-radius: 10px;
}
.finder-modal .finder-header {
  margin: 0;
  height: 80px;
  border-bottom: 1px solid #c2cfd6;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  line-height: 80px;
  text-align: center;
}
.finder-modal .finder-breadcrumb {
  display: table;
  margin: 0 auto;
  height: 54px;
}
.finder-modal .finder-breadcrumb .tab-nav {
  min-width: 250px;
}
.finder-modal .finder-breadcrumb a {
  padding: 12px 0;
  color: #d9d9d9;
}
.finder-modal .finder-breadcrumb a:first-child {
  margin-right: 45px;
}
.finder-modal .finder-breadcrumb .paginator-btn {
  margin-top: -3px;
  width: 30px;
  height: 30px;
  background-color: #d9d9d9;
  color: #fff;
}
.finder-modal .finder-breadcrumb .paginator-btn:hover,
.finder-modal .finder-breadcrumb .paginator-btn:focus {
  border-color: #d9d9d9;
}
.finder-modal .finder-breadcrumb .active a {
  color: #222;
}
.finder-modal .finder-breadcrumb .active .paginator-btn {
  background-color: #f47421;
}
.finder-modal .finder-body {
  height: 364px;
  border-top: 1px solid #c2cfd6;
}
.finder-modal .finder-body .heading-e,
.finder-modal .finder-body .heading-f {
  margin-top: 0;
}
.finder-modal .finder-footer {
  height: 80px;
  border-top: 1px solid #c2cfd6;
}
.finder-body-sidebar {
  margin-right: 0;
  width: 241px;
}
.finder-body-sidebar li {
  position: relative;
  border-top: 1px solid #c2cfd6;
  border-right: 1px solid #c2cfd6;
}
.finder-body-sidebar li:first-child {
  border-top: none;
}
.finder-body-sidebar .btn {
  display: block;
  padding: 0 20px;
  height: 91px;
  border: none;
  color: #222;
  font-size: 18px;
  font-weight: 600;
  line-height: 91px;
  text-align: left;
}
.finder-body-sidebar .btn.disabled {
  color: #007dc6;
}
.finder-body-sidebar .btn.disabled + .wmicon-angle-right {
  color: #fff;
}
.finder-body-sidebar .wmicon-angle-right {
  position: absolute;
  right: 20px;
  top: 40px;
  color: #007dc6;
}
.finder-body-sidebar .active .btn {
  background-color: #9ed6fa;
  border-radius: 0;
  color: #222;
}
.finder-body-sidebar .active .wmicon-angle-right {
  color: #222;
}
.finder-body-main {
  width: 509px;
}
.finder-body-main .tab-nav {
  background-color: #fff;
}
.finder-body-main .tab-nav li {
  margin-left: 46px;
}
.finder-body-main .tab-nav li:first-child {
  margin-left: 80px;
}
.finder-body-main .tab-nav a {
  height: 44px;
  width: 52px;
  padding: 14px 0;
  color: #007dc6;
  font-size: 16px;
  font-weight: 600;
}
.finder-body-main .tab-nav .active a {
  color: #222;
}
.finder-body-main .tab-nav .active a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-color: #007dc6;
}
.finder-body-main .tab-content {
  border-top: 1px solid #c2cfd6;
}
.finder-body-main .tab-content .tab-content-pane {
  padding: 20px 11px;
  height: 320px;
  overflow: auto;
}
.finder-body-main .variants {
  margin: 10px 0 20px;
}
.finder-body-main .variants.variants-4 .variant {
  width: 117px;
}
.finder-body-main .variants.variants-5 .variant {
  width: 93px;
}
.finder-body-main .variants .variants-group {
  position: relative;
}
.finder-body-main .variants .variants-group:not(:first-child) {
  top: -1px;
}
.finder-body-main .variants .variant {
  position: relative;
  margin: 0;
  height: 38px;
  border-radius: 0;
}
.finder-body-main .variants .variant ~ .variant {
  margin-left: -1px;
}
.finder-body-main .variants .variant:hover {
  z-index: 1;
}
.finder-body-main .finder-car-content {
  display: none;
}
.finder-body-main .finder-car-content.active {
  display: block;
}
.finder-body-main .finder-car-model,
.finder-body-main .finder-car-submodel {
  padding: 20px 11px;
  height: 364px;
  overflow: auto;
}
.finder-body-main .finder-car-model .variants-group,
.finder-body-main .finder-car-submodel .variants-group {
  *zoom: 1;
}
.finder-body-main .finder-car-model .variants-group:before,
.finder-body-main .finder-car-submodel .variants-group:before,
.finder-body-main .finder-car-model .variants-group:after,
.finder-body-main .finder-car-submodel .variants-group:after {
  content: "";
  display: table;
}
.finder-body-main .finder-car-model .variants-group:after,
.finder-body-main .finder-car-submodel .variants-group:after {
  clear: both;
}
.finder-body-main .finder-car-model .variant,
.finder-body-main .finder-car-submodel .variant {
  float: left;
  padding: 15px 10px;
  min-height: 72px;
  line-height: 1;
}
.finder-body-main .finder-car-model .variant-centered,
.finder-body-main .finder-car-submodel .variant-centered {
  display: table;
}
.finder-body-main .finder-car-model .variant-centered span,
.finder-body-main .finder-car-submodel .variant-centered span {
  display: table-cell;
  vertical-align: middle;
}
