<!doctype html>
<html>
<head>
  <title>Test'em</title>
  <link rel="stylesheet" href="/testem/mocha.css">
  <link rel="stylesheet" href="/public/test/testem.css">
  <script src="/testem/mocha.js"></script>
  <script src="/testem/chai.js"></script>
  <script src="/public/lib/chai-jq/chai-jq.js"></script>
  <script src="/public/lib/sinonjs/sinon.js"></script>
  <script src="/public/lib/sinon-chai/lib/sinon-chai.js"></script>
  <script>
    window.expect = chai.expect;
    mocha.setup('bdd');
  </script>
  <script src="/public/lib/requirejs/require.js"></script>
  <script src="/public/test/config-test.js"></script>
  <!-- Code Coverage -->
  <script src="/public/lib/blanket/dist/qunit/blanket.min.js" data-cover-adapter="/public/lib/blanket/src/adapters/mocha-blanket.js" data-cover-only="/public/js/finder"></script>
</head>
<body>
  <div id="mocha"></div>
  <div id="blanket-main"></div>

  <div id="fixtures" style="display: none;"></div>
  <div id="fixtures-visible" style="position: absolute; bottom: 0; left: -999em"></div>
  <script>
    var files = [];
    {{#serve_files}}files.push("/{{src}}");{{/serve_files}}
    require(files, function () {
      mocha.run();
    });
  </script>
</body>
</html>
